<!doctype html>

<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Wilders.co{% endblock %}</title>

    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="icon" href="/assets/images/favicon.png">

</head>


<body>
{% include 'navbar.html.twig' %}
{% block content %} TWIG3 LA FIN! {% endblock %}
{% include '_footer.html.twig' %}


</body>

</html>
